.dashboard-main {
  height: 650px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard-box {
  width: 150px;
  height: 100px;
  margin-left: 20px;
  background-color: #ffffff3a;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 15px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
  color: rgb(0, 0, 0);
}

.dashboard-box:hover {
  background-color: #5e5d5d;
}

.dashboard-content {
  width: 100%;
  display: flex;
  justify-items: center;
}

.dashboard-box p {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative; /* Ensures the close button is positioned inside */
  margin-top: 0px;
  background: rgb(57, 56, 56);
  padding: 30px;
  border-radius: 8px;
  max-width: 800px; /* Adjust width if needed */
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); /* Soft glow effect */
}

.modal-close {
  background: none;
  border: none;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 2px;
  right: 8px;
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
}

.modal-close:hover {
  color: #ff4c4c; /* Red hover effect */
  transform: scale(1.1); /* Slight zoom */
}



.dashboard-button {
  width: 150px;
  height: 100px;
  margin-left: 20px;
  /* background-color: #B34A09; */
  background-color: #ffffff3a;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 15px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: none;
}

.dashboard-button:hover {
  cursor: pointer;
  background-color: #5e5d5d;
}
.dashboard-admin::after {
  content: "";
  position: absolute;
  top: -50px;
  right: 50px;
  width: 200%;
  height: 100%;
  background: radial-gradient(circle, rgba(145, 9, 88, 0.3) 10%, rgba(0, 204, 255, 0.2) 50%, transparent 80%);
  filter: blur(150px);
  z-index: -1;
  animation: glowMove 10s infinite alternate;
}