.trainwithus-container-main{
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 70px;
  
}
.trainwithus-container {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 680px;
  box-shadow: rgb(255, 255, 255) 0px 3px 15px;
  background-color: #eaeaeafc;
}

.featured-section {
  text-align: center;
  max-width: 100%;
}

.featured-heading {
  justify-content: center;
  display: flex;
  font-family: inter;
  font-size: 50px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top:35px;
  margin-bottom: 80px;
}
.featured-in-in-in{
  color: #cc0000;
  margin-left: 15px;
}

.featured-bold {
  color: red;
  font-weight: 700;
}

.featured-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
}

.logo-row {
  display: flex;
  width: 100%;
  margin-bottom: 55px;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
}

.logo-item {
  width: 180px;
  height: auto;
  object-fit: contain;
}

/* Reduce logo sizes on medium screens */
@media screen and (max-width: 1024px) {
  .logo-item {
    width: 140px;
  }
  .featured-heading {
    justify-content: center;
    display: flex;
    font-family: inter;
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top:35px;
    margin-bottom: 80px;
  }
  .featured-in-in-in{
    color: #cc0000;
    margin-left: 15px;
  }
  .featured-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  margin-left: 7px;
  margin-right: 7px;
}
  

}

/* Reduce logo sizes further on tablets */
@media screen and (max-width: 768px) {
  .logo-item {
    width: 100px;
  }
  .featured-heading {
    justify-content: center;
    display: flex;
    font-family: inter;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top:35px;
    margin-bottom: 80px;
  }
  .featured-in-in-in{
    color: #cc0000;
    margin-left: 15px;
  }
  .featured-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
  
}
@media screen and (max-width: 668px) {
  .logo-item {
    width: 100px;
  }
  .featured-heading {
    justify-content: center;
    display: flex;
    font-family: inter;
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top:35px;
    margin-bottom: 80px;
  }
  .featured-in-in-in{
    color: #cc0000;
    margin-left: 15px;
  }
  .featured-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
  
}


@media screen and (max-width: 568px) {
  .logo-item {
    width: 85px;
  }
  .featured-heading {
    justify-content: center;
    display: flex;
    font-family: inter;
    font-size: 32px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top:35px;
    margin-bottom: 80px;
  }
  .featured-in-in-in{
    color: #cc0000;
    margin-left: 15px;
  }
  .featured-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
  
}

/* Reduce logo sizes for small screens */
@media screen and (max-width: 496px) {
  .logo-item {
    width: 75px;
  }
  .trainwithus-container {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 550px;
    box-shadow: rgb(255, 255, 255) 0px 3px 15px;
    background-color: #eaeaeafc;
  }
  

    .featured-heading {
      justify-content: center;
      display: flex;
      font-family: inter;
      font-size: 25px;
      font-weight: bold;
      color: rgb(0, 0, 0);
      margin-top:35px;
      margin-bottom: 80px;
    }
    .featured-in-in-in{
      color: #cc0000;
      margin-left: 15px;
    }
    .featured-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .trainwithus-container-main{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
  }
    
  }

  @media screen and (max-width: 400px) {
    .logo-item {
      width: 50px;
    }
    .trainwithus-container {
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 80%;
      height: 500px;
      box-shadow: rgb(255, 255, 255) 0px 3px 15px;
      background-color: #eaeaeafc;
    }
    
  
      .featured-heading {
        justify-content: center;
        display: flex;
        font-family: inter;
        font-size: 20px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        margin-top:35px;
        margin-bottom: 50px;
      }
      .featured-in-in-in{
        color: #cc0000;
        margin-left: 15px;
      }
      .featured-logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      max-width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
    .trainwithus-container-main{
      width: 100%;
      height: 480px;
      display: flex;
      justify-content: center;
      margin-top: 70px;
      
    }
      
    }
  