/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Main Container */
.forgot-page-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(135deg, #242020, #000000); */
  background-color: black;
  padding: 20px;
}

/* Forgot Page Wrapper */
.forgot-page-code {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
 
}

/* Right Side - Form */
.forgot-page-code-form {
  width: 100%;
  padding: 40px;
  text-align: center;
}

/* Heading Styles */
.forgot-page-code-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.forgot-page-code-title .and {
  color: #b34a09;
}

h2 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
}

/* Paragraph */
p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

/* Input Field */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s ease;
}

input:focus {
  border-color: #141313;
  outline: none;
}

/* Button */
.forgot-page-code-btn {
  width: 100%;
  padding: 12px;
  background-color: #b34a09;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.forgot-page-code-btn:active {
  box-shadow: inset 1px 1px 2px #babeec, inset -1px -1px 2px #ffffff;
}

.forgot-page-code-btn:hover {
  background-color: #562100;
}

.forgot-page-code-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 750px) {
  .forgot-page-code {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-top: -230px;
  }

  .forgot-page-code-image {
    width: 100%;
  }

  .forgot-page-code-form {
    width: 100%;
    padding: 30px;
  }

  .forgot-page-code-title {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}
