
.profile-container {
  
  padding-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.profile {
  background-color: rgb(24 26 27 / var(--tw-bg-opacity, 1));
  border-color: rgb(53 58 60 / var(--tw-border-opacity, 1));
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e7eb2d;
  margin-top: -150px;
  padding: 30px;
  border-radius: 12px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 32%;
  height: auto;
  
  text-align: center;
  color: rgb(255, 255, 255);
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

.profile-info p {
  margin-bottom: 12px;
  font-size: 16px;
  color: #ffffff;
}

.profile-info strong {
  color: #a970ff;
}

.common-btn,
.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.common-btn {
  background:#B34A09;
  color: white;
}

.common-btn:hover {
  background: #562100;
}

.logout-btn {
  background-color:  #b34a09;
  color: white;
}

.logout-btn:hover {
  background-color: #562100;
}

/* Responsive */
@media (max-width: 768px) {
  .profile {
    padding: 20px;
    width: 90%;
  }
}

.bi bi-person-circle{
  width:200px;
}